.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://png.pngtree.com/thumb_back/fh260/background/20230715/pngtree-d-illustration-of-laptop-computer-placed-on-a-black-shelf-background-image_3887227.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
  }
  
  .hero-text {
    
    position: relative;
    top:160px;
  
    display: flex;
    flex-direction: column;   
    justify-content: flex-start;
    color: white;
    margin-left: 50px;
  }
/*   
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  } */
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
  
.hero{
    height: 500px;
}