.course_outer_div{
   height: auto;
}
.course_first_section{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#c6a4a4;
   height: 500px;
}

.first_section{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    position: relative;
    top:60px;
    gap:1.5rem;
    
}
.first_section_title{
    font-family: fantasy;
}
.second_section{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    position: relative;
    top:60px;
    gap:1.5rem;
}
.second_section_title{
    font-family: fantasy;
}
.third_section{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    position: relative;
    top:60px;
    gap:1.5rem;
}
.third_section_title{
    font-family: fantasy;
}
.last_section{
    display: flex;
    flex-direction: row;
    align-items: end;
   position: relative;
  
   
   gap:1rem;

  
}
.last_section_title{
    font-family: fantasy;
}
.last_section{
    gap: 1.5;
}
.second_section_heading{
    font-family: fantasy;
}
.course_second_section{
    
    width: 100%;
    background-color:#c6a4a4;
    display: flex;
    flex-direction: column;
    
    
}
.second_section_content{
    justify-content: space-between;
    margin-left: 120px;
    
}
.second_section_course_list{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.category_section{
   
    width: 100%;
    background-color:#c6a4a4;
    display: flex;
    flex-direction: column;
    
}
.category_section_content{
    margin-left: 120px;
}
.category_Name_section{
    font-family: fantasy;
}
.category_list{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer_last_section{
 
    width: 100%;
    background-color:#c6a4a4;
    display: flex;
   
    justify-content: center;
}
.footer_last_section_list{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer_list_section{
    display: flex;
    flex-direction: column;
   align-items: center;
}